c/* Requires: normalize.css */

/* Global Reset & Standards ---------------------- */

  *, *:before, *:after { @include box-sizing(border-box); }
  html { font-size: 62.5%; }
  body { background: url('../images/background.jpg') repeat; margin-top: 27px; font-family: $bodyFontFamily; font-weight: $bodyFontWeight; font-style: $bodyFontStyle; font-size: ms(0); line-height: 1; color: $bodyFontColor; position: relative; -webkit-font-smoothing: $fontSmoothing; }

/* Links ---------------------- */

  a img { border:none; }
  a { color: $mainColor; text-decoration: none; line-height: inherit; }
  a:hover { color: darken($mainColor, 5%); }
  a:focus { color: darken($mainColor, 5%); }
  p a, p a:visited { line-height: inherit;}
  p {font-size: 14px; font-weight: bold;}

/* Misc ---------------------- */

  .left        { float: left; }
  .right       { float: right; }
  .text-left   { text-align: left; }
  .text-right  { text-align: right; }
  .text-center { text-align: center; }
  .hide        { display: none; }
  .hide-override { display: none !important; }
  .highlight   { background: $highlightColor; }

  #googlemap img, object, embed { max-width: none; }

  #map_canvas embed { max-width: none; }
  #map_canvas img { max-width: none; }
  #map_canvas object { max-width: none; }

  .twelve.columns .row {@include border-radius(5px); padding-top: 15px !important;}
  .top-bar {margin: 0;}
  .panel {background: #00A8C4; @include border-radius(5px); 
      h4 {line-height: 30px; margin-bottom: 20px; color: #063C51; text-shadow: 1px 1px #90D4DD;}

  }
  .panel.callout {background: #E3B3FF; font-family: $headerFontFamily; 
      p {font-size: 18px; color: #48275B;}
  }


  /* Reset for strange margins by default on <figure> elements */
  figure { margin: 0; }

body .mc-cycle { position: absolute !important; }
.top-bar { margin-top: -30px;}
#landing-page { margin-top: 30px; }
.contact-us-wrapper { border: 1px solid darken(#ccc, 40%); z-index: 1; position: fixed; bottom: 20px; left: 20px; padding: 10px; background: $black; color: $white; @include border-radius(10px);
  p { margin: 0; }
  h3 { margin: 0; }
}

#new-arrivals { padding-top: 100px; overflow: hidden; }
.new-arrivals-container { background: #000; padding: 10px 10px 5px 10px; position: relative; @include border-radius(10px);  }