<!-- Navigation -->
<div>
  <div class="twelve columns" style="padding: 0;">
    <nav class="top-bar">
      <ul>
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="#landing-page" class="nav-item">
              <img src="assets/images/logo.png"/>
              <div class="fb-like" data-href="http://www.facebook.com/pages/Mel-Crews/229252767090673" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        
        <ul class="left">
          
        </ul>
        
        <ul class="right">
          <li class="divider"></li>
          <li><a class="nav-item" href="#landing-page">Home</a></li>
          <li class="divider"></li>
          <li><a class="nav-item" href="#new-arrivals">New Arrivals</a></li>
          <li class="divider hide-for-small"></li>
          <li style="padding: 0 10px;"><a class="small button" href="http://melcrews.us2.list-manage.com/subscribe?u=0b250d3d8b93c71925307cff1&amp;id=73089e82cd">Signup for our mailout</a></li>
        </ul>
      </section>
    </nav>
  </div>
</div>