<!-- Navigation -->
<div>
  <div class="twelve columns" style="padding: 0;">
    <nav class="top-bar">
      <ul>
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="#landing-page" class="nav-item">
              <img src="assets/images/logo.png"/>
              <div class="fb-like" data-href="https://www.facebook.com/pages/Mel-Crews/229252767090673" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul class="left">
          <li class="divider"></li>
          <li><a class="nav-item" href="#landing-page">Home</a></li>
          <li class="divider"></li>
          <li><a class="nav-item" href="#new-arrivals">New Arrivals</a></li>
          <li class="divider hide-for-small"></li>
        </ul>
        <div class="right six columns">
          {% include subscribe-form.html %}
        </div>
      </section>
    </nav>
  </div>
</div>