<div class="row new-arrivals-container">
  <div style="padding-left: 5px; background: #000; float: left;">
    <h3>The Holidays are here!</h3>
    <!-- SnapWidget -->
    <iframe src="http://snapwidget.com/in/?u=ZmFzaGlvbnRyZW5kc3dvd3xpbnwxMDV8NHw0fDAwMHxub3wxMHxmYWRlT3V0" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:460px; height: 460px"></iframe>
  </div>

  <div style="float: right;">
    <!-- SnapWidget -->
    <iframe src="http://snapwidget.com/sl/?u=ZmFzaGlvbnRyZW5kc3dvd3xpbnw1MDV8NXw1fHxub3w1fG5vbmU=" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:510px; height: 510px"></iframe>
  </div>

</div>