<!DOCTYPE html>
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }}</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/plugins/MaxImage/lib/css/jquery.maximage.min.css">
    <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>

  <!-- JS Files -->
    <!-- Initialize JS Plugins -->
    <!-- Latest version of jQuery -->
    <script src="assets/js/foundation/modernizr.foundation.js"></script>
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <div class="contact-us-wrapper">
      <h3>Contact Us</h3>
      <p><strong>Store Hours:</strong> Monday- Saturday 10-5:30</p>
      <p><strong>Phone Number:</strong> (214) 368-5440</p>
    </div>
    {% include nav.html %}
    <section id="landing-page" class="page">
      {{ content }}
    </section>
    <section id="new-arrivals" class="page">
      {% include slider.html %}
    </section>
    <!-- Included JS Files (Unminified) -->
    <!-- [JS Files] -->
    <!-- We include all the unminified JS as well. Uncomment to use them instead -->
    <script src="assets/js/foundation/jquery.js"></script>
    <script src="assets/js/foundation/foundation.min.js"></script>
    <script src="assets/js/foundation/app.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/plugins/MaxImage/lib/js/jquery.cycle.all.min.js"></script>
    <script src="assets/plugins/MaxImage/lib/js/jquery.maximage.min.js"></script>
  </body>
</html>


